OpenGLES_Texture1.xcodeproj/project.xcworkspace/xcuserdata/atrejo.xcuserdatad/UserInterfaceState.xcuserstate
OpenGLES_Texture1.xcodeproj/project.xcworkspace/xcuserdata/erik.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store